In [1]:
import pandas as pd

In [2]:
canada = pd.read_csv('/workspaces/projects/Dash/linkedin-jobs-canada.csv')
canada

,title,company,description,onsite_remote,salary,location,criteria,posted_date,link
0,Data Analyst,Axonify,Axonify is an intelligent workforce enablement...,onsite,NaN,"Waterloo, Ontario, Canada","[{'Seniority level': 'Entry level'}, {'Employm...",2022-10-24,https://ca.linkedin.com/jobs/view/data-analyst...
1,Data Analyst,B3 Systems,The ideal candidate will use their passion for...,onsite,NaN,"Toronto, Ontario, Canada",[{'Employment type': 'Full-time'}],2022-11-18,https://ca.linkedin.com/jobs/view/data-analyst...
2,Data Analyst,Wood Mackenzie,Company DescriptionWood Mackenzie is the globa...,onsite,NaN,"Calgary, Alberta, Canada","[{'Seniority level': 'Associate'}, {'Employmen...",2022-11-18,https://ca.linkedin.com/jobs/view/data-analyst...
3,Data Analyst,LOFT Community Services,1 Part Time Permanent PositionDATE: November 1...,onsite,NaN,"Toronto, Ontario, Canada",[{'Employment type': 'Part-time'}],2022-11-17,https://ca.linkedin.com/jobs/view/data-analyst...
4,Data Analyst,NAM Info Inc,"Position: Data AnalystWork Locations: Toronto,...",onsite,NaN,"Toronto, Ontario, Canada","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-11-08,https://ca.linkedin.com/jobs/view/data-analyst...
...,...,...,...,...,...,...,...,...,...
2768,"Data Analyst, Flight Pricing Optimization",Priceline,This role is eligible for our five day flex of...,hybrid,NaN,"Toronto, Ontario, Canada","[{'Seniority level': 'Entry level'}, {'Employm...",2022-11-04,https://ca.linkedin.com/jobs/view/data-analyst...
2769,"Sector Data Analyst, Data Driven Investing",CPP Investments | Investissements RPC,Company DescriptionMake an impact at a global ...,hybrid,NaN,"Toronto, Ontario, Canada","[{'Seniority level': 'Entry level'}, {'Employm...",2022-11-05,https://ca.linkedin.com/jobs/view/sector-data-...
2770,Data Analyst,Circle K,JOIN OUR TEAMOur mission is simple: we make jo...,hybrid,NaN,"Toronto, Ontario, Canada","[{'Seniority level': 'Entry level'}, {'Employm...",2022-11-18,https://ca.linkedin.com/jobs/view/data-analyst...
2771,Data Analyst,Vector Institute,Position OverviewThe Vector Institute is seeki...,hybrid,NaN,"Toronto, Ontario, Canada","[{'Seniority level': 'Mid-Senior level'}, {'Em...",2022-10-25,https://ca.linkedin.com/jobs/view/data-analyst...
2772,Data Analyst,GSL Group,We innovate | We have tenacity |We Empower | W...,hybrid,NaN,"Vancouver, British Columbia, Canada","[{'Seniority level': 'Entry level'}, {'Employm...",2022-10-05,https://ca.linkedin.com/jobs/view/data-analyst...