In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly

In [2]:
df=pd.read_csv('/workspaces/projects/credit_score/final.csv')

In [3]:
df.drop(['Home Equity Loan','Auto Loan','Mortgage Loan','Payday Loan','Student Loan','Debt Consolidation Loan','Personal Loan','Credit-Builder Loan'],axis=1,inplace=True)

In [4]:
df.drop(['Credit_Mix','Payment_of_Min_Amount','Num_Credit_Inquiries','Changed_Credit_Limit','Delay_from_due_date','Num_Bank_Accounts','Annual_Income','Monthly_Balance'],axis=1,inplace=True)

In [5]:
df.head().T

,0,1,2,3,4
Age,23.0,23.0,33.0,23.0,23.0
Occupation,Scientist,Scientist,Scientist,Scientist,Scientist
Monthly_Inhand_Salary,1824.843333,1824.843333,1824.843333,1824.843333,1824.843333
Num_Credit_Card,4.0,4.0,4.0,4.0,4.0
Interest_Rate,3.0,3.0,3.0,3.0,3.0
Num_of_Loan,4.0,4.0,4.0,4.0,4.0
Num_of_Delayed_Payment,7.0,7.0,7.0,4.0,7.0
Outstanding_Debt,809.98,809.98,809.98,809.98,809.98
Credit_Utilization_Ratio,26.82262,31.94496,28.609352,31.377862,24.797347
Credit_History_Age,265.0,265.0,267.0,268.0,269.0
Total_EMI_per_month,49.574949,49.574949,49.574949,49.574949,49.574949
Amount_invested_monthly,80.415295,118.280222,81.699521,199.458074,41.420153
Payment_Behaviour,High_spent_Small_value_payments,Low_spent_Large_value_payments,Low_spent_Medium_value_payments,Low_spent_Small_value_payments,High_spent_Medium_value_payments
Credit_Score,Good,Good,Good,Good,Good

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28900 entries, 0 to 28899
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       28900 non-null  float64
 1   Occupation                28900 non-null  object
 2   Monthly_Inhand_Salary     28900 non-null  float64
 3   Num_Credit_Card           28900 non-null  float64
 4   Interest_Rate             28900 non-null  float64
 5   Num_of_Loan               28900 non-null  float64
 6   Num_of_Delayed_Payment    28899 non-null  float64
 7   Outstanding_Debt          28899 non-null  float64
 8   Credit_Utilization_Ratio  28899 non-null  float64
 9   Credit_History_Age        28899 non-null  float64
 10  Total_EMI_per_month       28899 non-null  float64
 11  Amount_invested_monthly   28899 non-null  float64
 12  Payment_Behaviour         28899 non-null  object
 13  Credit_Score              28899 non-null  object
dtypes: float64(11), object(3)
memory usage: 3.1+ MB

In [7]:
df= df[df['Payment_Behaviour'].notna()]

In [8]:
df.head()

,Age,Occupation,Monthly_Inhand_Salary,Num_Credit_Card,Interest_Rate,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Credit_Score
0,23.0,Scientist,1824.843333,4.0,3.0,4.0,7.0,809.98,26.822620,265.0,49.574949,80.415295,High_spent_Small_value_payments,Good
1,23.0,Scientist,1824.843333,4.0,3.0,4.0,7.0,809.98,31.944960,265.0,49.574949,118.280222,Low_spent_Large_value_payments,Good
2,33.0,Scientist,1824.843333,4.0,3.0,4.0,7.0,809.98,28.609352,267.0,49.574949,81.699521,Low_spent_Medium_value_payments,Good
3,23.0,Scientist,1824.843333,4.0,3.0,4.0,4.0,809.98,31.377862,268.0,49.574949,199.458074,Low_spent_Small_value_payments,Good
4,23.0,Scientist,1824.843333,4.0,3.0,4.0,7.0,809.98,24.797347,269.0,49.574949,41.420153,High_spent_Medium_value_payments,Good

In [9]:
df.describe()

,Age,Monthly_Inhand_Salary,Num_Credit_Card,Interest_Rate,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly
count,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000
mean,33.236617,4040.410318,5.518011,14.333333,3.520606,13.268348,1220.829288,32.311113,222.811343,88.939152,155.214402
std,10.519962,2902.780121,2.032075,8.673247,2.383927,6.311986,889.710057,5.140552,99.178809,80.705720,112.064437
min,14.000000,333.596667,0.000000,1.000000,0.000000,-3.000000,1.230000,20.000000,1.000000,0.000000,0.000000
25%,25.000000,1650.781667,4.000000,7.000000,2.000000,9.000000,541.540000,28.043077,148.000000,30.305906,75.618889
50%,33.000000,3096.836667,5.000000,13.000000,3.000000,14.000000,1131.700000,32.328808,220.000000,69.055656,136.279679
75%,41.000000,5872.071667,7.000000,20.000000,5.000000,18.000000,1539.760000,36.571577,304.000000,126.114181,193.727945
max,56.000000,12446.180000,11.000000,34.000000,9.000000,28.000000,4010.910000,48.247003,404.000000,357.406068,555.921230

In [10]:
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(lambda x: max(0, x))

In [11]:
df.describe()

,Age,Monthly_Inhand_Salary,Num_Credit_Card,Interest_Rate,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly
count,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000
mean,33.236617,4040.410318,5.518011,14.333333,3.520606,13.279421,1220.829288,32.311113,222.811343,88.939152,155.214402
std,10.519962,2902.780121,2.032075,8.673247,2.383927,6.286950,889.710057,5.140552,99.178809,80.705720,112.064437
min,14.000000,333.596667,0.000000,1.000000,0.000000,0.000000,1.230000,20.000000,1.000000,0.000000,0.000000
25%,25.000000,1650.781667,4.000000,7.000000,2.000000,9.000000,541.540000,28.043077,148.000000,30.305906,75.618889
50%,33.000000,3096.836667,5.000000,13.000000,3.000000,14.000000,1131.700000,32.328808,220.000000,69.055656,136.279679
75%,41.000000,5872.071667,7.000000,20.000000,5.000000,18.000000,1539.760000,36.571577,304.000000,126.114181,193.727945
max,56.000000,12446.180000,11.000000,34.000000,9.000000,28.000000,4010.910000,48.247003,404.000000,357.406068,555.921230

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28899 entries, 0 to 28898
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       28899 non-null  float64
 1   Occupation                28899 non-null  object
 2   Monthly_Inhand_Salary     28899 non-null  float64
 3   Num_Credit_Card           28899 non-null  float64
 4   Interest_Rate             28899 non-null  float64
 5   Num_of_Loan               28899 non-null  float64
 6   Num_of_Delayed_Payment    28899 non-null  float64
 7   Outstanding_Debt          28899 non-null  float64
 8   Credit_Utilization_Ratio  28899 non-null  float64
 9   Credit_History_Age        28899 non-null  float64
 10  Total_EMI_per_month       28899 non-null  float64
 11  Amount_invested_monthly   28899 non-null  float64
 12  Payment_Behaviour         28899 non-null  object
 13  Credit_Score              28899 non-null  object
dtypes: float64(11), object(3)
memory usage: 3.3+ MB

In [13]:
df['Credit_History_Age']=df['Credit_History_Age']//12

In [14]:
df= df[['Occupation','Monthly_Inhand_Salary','Num_Credit_Card','Num_of_Loan','Num_of_Delayed_Payment','Outstanding_Debt','Credit_Utilization_Ratio','Credit_History_Age','Credit_Score']]
df

,Occupation,Monthly_Inhand_Salary,Num_Credit_Card,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Credit_Score
0,Scientist,1824.843333,4.0,4.0,7.0,809.98,26.822620,22.0,Good
1,Scientist,1824.843333,4.0,4.0,7.0,809.98,31.944960,22.0,Good
2,Scientist,1824.843333,4.0,4.0,7.0,809.98,28.609352,22.0,Good
3,Scientist,1824.843333,4.0,4.0,4.0,809.98,31.377862,22.0,Good
4,Scientist,1824.843333,4.0,4.0,7.0,809.98,24.797347,22.0,Good
...,...,...,...,...,...,...,...,...,...
28894,Doctor,1642.875833,8.0,8.0,18.0,3345.56,30.794897,10.0,Poor
28895,Doctor,1642.875833,8.0,8.0,19.0,3345.56,37.059854,10.0,Poor
28896,Accountant,5402.611667,3.0,6.0,8.0,503.58,33.033533,18.0,Standard
28897,Accountant,5402.611667,3.0,6.0,8.0,503.58,25.461070,18.0,Standard
28898,Accountant,5402.611667,3.0,6.0,8.0,503.58,25.677450,18.0,Standard

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
transformer= ColumnTransformer([('cat', OneHotEncoder(drop='first'),['Occupation'])],remainder="passthrough")

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop('Credit_Score',axis=1),df['Credit_Score'],test_size=0.2)

In [17]:
pip install xgboost

Collecting xgboost
  Using cached xgboost-2.0.2-py3-none-manylinux2014_x86_64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (from xgboost) (1.26.2)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.10/site-packages (from xgboost) (1.11.3)
Using cached xgboost-2.0.2-py3-none-manylinux2014_x86_64.whl (297.1 MB)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [19]:
pipeline = Pipeline([
    ('transformer', transformer),
    ('model', RandomForestClassifier())])
pipeline.fit(X_train,y_train)
pred=pipeline.predict(X_test)
accuracy_score(y_test,pred)

0.7717993079584775

In [20]:
import joblib
joblib.dump(pipeline, 'pipeline.joblib')
loaded_pipeline = joblib.load('pipeline.joblib')

In [21]:
occupations = df['Occupation'].unique().tolist()

In [22]:
occupations

['Scientist',
 'Teacher',
 'Engineer',
 'Entrepreneur',
 'Developer',
 'Lawyer',
 'Media_Manager',
 'Doctor',
 'Journalist',
 'Manager',
 'Accountant',
 'Musician',
 'Mechanic',
 'Writer',
 'Architect']

In [23]:
category =df['Credit_Score'].unique().tolist()
category

['Good', 'Standard', 'Poor']

In [24]:
pip install streamlit

Requirement already satisfied: streamlit in /workspaces/projects/.conda/lib/python3.10/site-packages (1.29.0)
Requirement already satisfied: altair<6,>=4.0 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (5.2.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (1.7.0)
Requirement already satisfied: cachetools<6,>=4.0 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (8.1.7)
Requirement already satisfied: importlib-metadata<7,>=1.4 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (6.9.0)
Requirement already satisfied: numpy<2,>=1.19.3 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (1.26.2)
Requirement already satisfied: packaging<24,>=16.8 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (23.2)
Requirement already satisfied: pandas<3,>=1.3.0 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (2.1.3)
Requirement already satisfied: pillow<11,>=7.1.0 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (10.1.0)
Requirement already satisfied: protobuf<5,>=3.20 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (4.23.4)
Requirement already satisfied: pyarrow>=6.0 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (14.0.1)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (13.7.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (4.8.0)
Requirement already satisfied: tzlocal<6,>=1.1 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (3.1.40)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in /home/codespace/.local/lib/python3.10/site-packages (from streamlit) (6.3.3)
Requirement already satisfied: watchdog>=2.1.5 in /workspaces/projects/.conda/lib/python3.10/site-packages (from streamlit) (3.0.0)
Requirement already satisfied: jinja2 in /home/codespace/.local/lib/python3.10/site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /home/codespace/.local/lib/python3.10/site-packages (from altair<6,>=4.0->streamlit) (4.20.0)
Requirement already satisfied: toolz in /workspaces/projects/.conda/lib/python3.10/site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in /workspaces/projects/.conda/lib/python3.10/site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /workspaces/projects/.conda/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.27->streamlit) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in /workspaces/projects/.conda/lib/python3.10/site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /home/codespace/.local/lib/python3.10/site-packages (from rich<14,>=10.14.0->streamlit) (2.16.1)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.10/site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /home/codespace/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.11.1)
Requirement already satisfied: referencing>=0.28.4 in /home/codespace/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.31.0)
Requirement already satisfied: rpds-py>=0.7.1 in /home/codespace/.local/lib/python3.10/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.13.0)
Requirement already satisfied: mdurl~=0.1 in /workspaces/projects/.conda/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [25]:
df[df['Credit_Score']=='Poor']

,Occupation,Monthly_Inhand_Salary,Num_Credit_Card,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Credit_Score
56,Media_Manager,2611.115000,7.0,3.0,11.0,1704.18,24.448063,14.0,Poor
57,Media_Manager,2611.115000,7.0,3.0,14.0,1704.18,35.171160,14.0,Poor
58,Media_Manager,2611.115000,7.0,3.0,14.0,1704.18,35.111552,14.0,Poor
59,Media_Manager,2611.115000,7.0,3.0,14.0,1704.18,29.762159,14.0,Poor
63,Media_Manager,2611.115000,7.0,3.0,14.0,1704.18,33.823488,15.0,Poor
...,...,...,...,...,...,...,...,...,...
28891,Doctor,1642.875833,8.0,8.0,16.0,3345.56,32.528152,10.0,Poor
28892,Doctor,1642.875833,8.0,8.0,16.0,3345.56,33.431951,10.0,Poor
28893,Doctor,1642.875833,8.0,8.0,19.0,3345.56,32.492087,10.0,Poor
28894,Doctor,1642.875833,8.0,8.0,18.0,3345.56,30.794897,10.0,Poor
28895,Doctor,1642.875833,8.0,8.0,19.0,3345.56,37.059854,10.0,Poor

In [26]:
df[df['Credit_Score']=='Good']

,Occupation,Monthly_Inhand_Salary,Num_Credit_Card,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Credit_Score
0,Scientist,1824.843333,4.0,4.0,7.0,809.98,26.822620,22.0,Good
1,Scientist,1824.843333,4.0,4.0,7.0,809.98,31.944960,22.0,Good
2,Scientist,1824.843333,4.0,4.0,7.0,809.98,28.609352,22.0,Good
3,Scientist,1824.843333,4.0,4.0,4.0,809.98,31.377862,22.0,Good
4,Scientist,1824.843333,4.0,4.0,7.0,809.98,24.797347,22.0,Good
...,...,...,...,...,...,...,...,...,...
28875,Accountant,2321.450000,7.0,4.0,14.0,1496.06,31.785101,20.0,Good
28876,Accountant,2321.450000,7.0,4.0,12.0,1496.06,34.227248,19.0,Good
28877,Accountant,2321.450000,7.0,4.0,14.0,1496.06,29.345332,20.0,Good
28878,Accountant,2321.450000,7.0,4.0,14.0,1496.06,29.866905,19.0,Good
28887,Journalist,1033.346250,7.0,2.0,9.0,1312.49,29.326287,32.0,Good