In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly

In [9]:
df= pd.read_csv('/workspaces/projects/Credit Score Classification/final.csv')

In [10]:
num = df.select_dtypes(include='number').columns.tolist()

In [13]:
correlation_matrix = df[num].corr()

# Iterate through the upper triangular part of the correlation matrix
for i in range(len(correlation_matrix.columns)):
    for j in range(i + 1, len(correlation_matrix.columns)):
        corr_value = correlation_matrix.iloc[i, j]
        if abs(corr_value) > 0.7:
            column1 = correlation_matrix.columns[i]
            column2 = correlation_matrix.columns[j]
            
            print(f"Columns: {column1} and {column2}, Correlation: {corr_value}")

Columns: Annual_Income and Monthly_Inhand_Salary, Correlation: 0.9798564316285067
Columns: Num_Bank_Accounts and Credit_Mix, Correlation: -0.7189774934853495
Columns: Interest_Rate and Credit_Mix, Correlation: -0.7453079998702178
Columns: Num_of_Delayed_Payment and Credit_Mix, Correlation: -0.7525472690422176

In [14]:
df.head().T

,0,1,2,3,4
Age,23.0,23.0,33.0,23.0,23.0
Occupation,Scientist,Scientist,Scientist,Scientist,Scientist
Annual_Income,19114.12,19114.12,19114.12,19114.12,19114.12
Monthly_Inhand_Salary,1824.843333,1824.843333,1824.843333,1824.843333,1824.843333
Num_Bank_Accounts,3.0,3.0,3.0,3.0,3.0
Num_Credit_Card,4.0,4.0,4.0,4.0,4.0
Interest_Rate,3.0,3.0,3.0,3.0,3.0
Num_of_Loan,4.0,4.0,4.0,4.0,4.0
Delay_from_due_date,3.0,-1.0,3.0,5.0,6.0
Num_of_Delayed_Payment,7.0,7.0,7.0,4.0,7.0
Changed_Credit_Limit,11.27,11.27,6.27,6.27,11.27
Num_Credit_Inquiries,4.0,4.0,4.0,4.0,4.0
Credit_Mix,2.0,2.0,2.0,2.0,2.0
Outstanding_Debt,809.98,809.98,809.98,809.98,809.98
Credit_Utilization_Ratio,26.82262,31.94496,28.609352,31.377862,24.797347
Credit_History_Age,265.0,265.0,267.0,268.0,269.0
Payment_of_Min_Amount,No,No,No,No,No
Total_EMI_per_month,49.574949,49.574949,49.574949,49.574949,49.574949
Amount_invested_monthly,80.415295,118.280222,81.699521,199.458074,41.420153
Payment_Behaviour,High_spent_Small_value_payments,Low_spent_Large_value_payments,Low_spent_Medium_value_payments,Low_spent_Small_value_payments,High_spent_Medium_value_payments
Monthly_Balance,312.494089,284.629162,331.209863,223.45131,341.489231
Credit_Score,Good,Good,Good,Good,Good
Credit-Builder Loan,1.0,1.0,1.0,1.0,1.0
Personal Loan,1.0,1.0,1.0,1.0,1.0
Debt Consolidation Loan,0.0,0.0,0.0,0.0,0.0
Student Loan,0.0,0.0,0.0,0.0,0.0
Payday Loan,0.0,0.0,0.0,0.0,0.0
Mortgage Loan,0.0,0.0,0.0,0.0,0.0
Auto Loan,1.0,1.0,1.0,1.0,1.0
Home Equity Loan,1.0,1.0,1.0,1.0,1.0

In [15]:
df.drop(['Credit-Builder Loan','Personal Loan','Debt Consolidation Loan','Student Loan','Payday Loan','Mortgage Loan','Auto Loan','Home Equity Loan','Credit_History_Age','Payment_Behaviour','Num_Bank_Accounts','Annual_Income','Payment_of_Min_Amount','Credit_Utilization_Ratio','Credit_Mix','Num_Credit_Inquiries','Changed_Credit_Limit'],axis=1,inplace=True)

In [16]:
df.head().T

,0,1,2,3,4
Age,23.0,23.0,33.0,23.0,23.0
Occupation,Scientist,Scientist,Scientist,Scientist,Scientist
Monthly_Inhand_Salary,1824.843333,1824.843333,1824.843333,1824.843333,1824.843333
Num_Credit_Card,4.0,4.0,4.0,4.0,4.0
Interest_Rate,3.0,3.0,3.0,3.0,3.0
Num_of_Loan,4.0,4.0,4.0,4.0,4.0
Delay_from_due_date,3.0,-1.0,3.0,5.0,6.0
Num_of_Delayed_Payment,7.0,7.0,7.0,4.0,7.0
Outstanding_Debt,809.98,809.98,809.98,809.98,809.98
Total_EMI_per_month,49.574949,49.574949,49.574949,49.574949,49.574949
Amount_invested_monthly,80.415295,118.280222,81.699521,199.458074,41.420153
Monthly_Balance,312.494089,284.629162,331.209863,223.45131,341.489231
Credit_Score,Good,Good,Good,Good,Good

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,100000.0,33.311110,10.618880,14.000000,25.000000,33.000000,41.000000,56.000000
Annual_Income,100000.0,48046.898523,34706.155065,7005.930000,19457.500000,37578.610000,68655.405000,152574.760000
Monthly_Inhand_Salary,100000.0,3983.576117,2875.553530,303.645417,1626.594167,3096.836667,5712.553333,12461.296667
Num_Bank_Accounts,100000.0,5.376360,2.576858,0.000000,3.000000,6.000000,7.000000,11.000000
Num_Credit_Card,100000.0,5.521210,2.045632,0.000000,4.000000,5.000000,7.000000,11.000000
Interest_Rate,100000.0,14.500450,8.653109,1.000000,8.000000,13.000000,20.000000,34.000000
Num_of_Loan,100000.0,3.510550,2.395985,0.000000,2.000000,3.000000,5.000000,9.000000
Num_of_Delayed_Payment,100000.0,13.320820,6.289298,-3.000000,9.000000,14.000000,18.000000,28.000000
Amount_invested_monthly,100000.0,153.619812,110.969994,0.000000,74.771053,136.276411,191.878992,555.973022
Monthly_Balance,100000.0,352.524947,132.459212,0.007760,271.759318,332.021453,408.997480,762.028273