In [45]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly

In [46]:
df=pd.read_csv('/workspaces/projects/Credit Score Classification/final.csv')

In [47]:
df.drop(['Home Equity Loan','Auto Loan','Mortgage Loan','Payday Loan','Student Loan','Debt Consolidation Loan','Personal Loan','Credit-Builder Loan'],axis=1,inplace=True)

In [48]:
df.drop(['Credit_Mix','Payment_of_Min_Amount','Credit_History_Age','Num_Credit_Inquiries','Changed_Credit_Limit','Delay_from_due_date','Num_Bank_Accounts','Annual_Income','Monthly_Balance'],axis=1,inplace=True)

In [49]:
df.head().T

,0,1,2,3,4
Age,23.0,23.0,33.0,23.0,23.0
Occupation,Scientist,Scientist,Scientist,Scientist,Scientist
Monthly_Inhand_Salary,1824.843333,1824.843333,1824.843333,1824.843333,1824.843333
Num_Credit_Card,4.0,4.0,4.0,4.0,4.0
Interest_Rate,3.0,3.0,3.0,3.0,3.0
Num_of_Loan,4.0,4.0,4.0,4.0,4.0
Num_of_Delayed_Payment,7.0,7.0,7.0,4.0,7.0
Outstanding_Debt,809.98,809.98,809.98,809.98,809.98
Credit_Utilization_Ratio,26.82262,31.94496,28.609352,31.377862,24.797347
Total_EMI_per_month,49.574949,49.574949,49.574949,49.574949,49.574949
Amount_invested_monthly,80.415295,118.280222,81.699521,199.458074,41.420153
Payment_Behaviour,High_spent_Small_value_payments,Low_spent_Large_value_payments,Low_spent_Medium_value_payments,Low_spent_Small_value_payments,High_spent_Medium_value_payments
Credit_Score,Good,Good,Good,Good,Good

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28900 entries, 0 to 28899
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       28900 non-null  float64
 1   Occupation                28900 non-null  object
 2   Monthly_Inhand_Salary     28900 non-null  float64
 3   Num_Credit_Card           28900 non-null  float64
 4   Interest_Rate             28900 non-null  float64
 5   Num_of_Loan               28900 non-null  float64
 6   Num_of_Delayed_Payment    28899 non-null  float64
 7   Outstanding_Debt          28899 non-null  float64
 8   Credit_Utilization_Ratio  28899 non-null  float64
 9   Total_EMI_per_month       28899 non-null  float64
 10  Amount_invested_monthly   28899 non-null  float64
 11  Payment_Behaviour         28899 non-null  object
 12  Credit_Score              28899 non-null  object
dtypes: float64(10), object(3)
memory usage: 2.9+ MB

In [51]:
df= df[df['Payment_Behaviour'].notna()]

In [52]:
df.head()

,Age,Occupation,Monthly_Inhand_Salary,Num_Credit_Card,Interest_Rate,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Credit_Score
0,23.0,Scientist,1824.843333,4.0,3.0,4.0,7.0,809.98,26.822620,49.574949,80.415295,High_spent_Small_value_payments,Good
1,23.0,Scientist,1824.843333,4.0,3.0,4.0,7.0,809.98,31.944960,49.574949,118.280222,Low_spent_Large_value_payments,Good
2,33.0,Scientist,1824.843333,4.0,3.0,4.0,7.0,809.98,28.609352,49.574949,81.699521,Low_spent_Medium_value_payments,Good
3,23.0,Scientist,1824.843333,4.0,3.0,4.0,4.0,809.98,31.377862,49.574949,199.458074,Low_spent_Small_value_payments,Good
4,23.0,Scientist,1824.843333,4.0,3.0,4.0,7.0,809.98,24.797347,49.574949,41.420153,High_spent_Medium_value_payments,Good

In [53]:
df.describe()

,Age,Monthly_Inhand_Salary,Num_Credit_Card,Interest_Rate,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly
count,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000
mean,33.236617,4040.410318,5.518011,14.333333,3.520606,13.268348,1220.829288,32.311113,88.939152,155.214402
std,10.519962,2902.780121,2.032075,8.673247,2.383927,6.311986,889.710057,5.140552,80.705720,112.064437
min,14.000000,333.596667,0.000000,1.000000,0.000000,-3.000000,1.230000,20.000000,0.000000,0.000000
25%,25.000000,1650.781667,4.000000,7.000000,2.000000,9.000000,541.540000,28.043077,30.305906,75.618889
50%,33.000000,3096.836667,5.000000,13.000000,3.000000,14.000000,1131.700000,32.328808,69.055656,136.279679
75%,41.000000,5872.071667,7.000000,20.000000,5.000000,18.000000,1539.760000,36.571577,126.114181,193.727945
max,56.000000,12446.180000,11.000000,34.000000,9.000000,28.000000,4010.910000,48.247003,357.406068,555.921230

In [54]:
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(lambda x: max(0, x))

In [55]:
df.describe()

,Age,Monthly_Inhand_Salary,Num_Credit_Card,Interest_Rate,Num_of_Loan,Num_of_Delayed_Payment,Outstanding_Debt,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly
count,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000,28899.000000
mean,33.236617,4040.410318,5.518011,14.333333,3.520606,13.279421,1220.829288,32.311113,88.939152,155.214402
std,10.519962,2902.780121,2.032075,8.673247,2.383927,6.286950,889.710057,5.140552,80.705720,112.064437
min,14.000000,333.596667,0.000000,1.000000,0.000000,0.000000,1.230000,20.000000,0.000000,0.000000
25%,25.000000,1650.781667,4.000000,7.000000,2.000000,9.000000,541.540000,28.043077,30.305906,75.618889
50%,33.000000,3096.836667,5.000000,13.000000,3.000000,14.000000,1131.700000,32.328808,69.055656,136.279679
75%,41.000000,5872.071667,7.000000,20.000000,5.000000,18.000000,1539.760000,36.571577,126.114181,193.727945
max,56.000000,12446.180000,11.000000,34.000000,9.000000,28.000000,4010.910000,48.247003,357.406068,555.921230

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28899 entries, 0 to 28898
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       28899 non-null  float64
 1   Occupation                28899 non-null  object
 2   Monthly_Inhand_Salary     28899 non-null  float64
 3   Num_Credit_Card           28899 non-null  float64
 4   Interest_Rate             28899 non-null  float64
 5   Num_of_Loan               28899 non-null  float64
 6   Num_of_Delayed_Payment    28899 non-null  float64
 7   Outstanding_Debt          28899 non-null  float64
 8   Credit_Utilization_Ratio  28899 non-null  float64
 9   Total_EMI_per_month       28899 non-null  float64
 10  Amount_invested_monthly   28899 non-null  float64
 11  Payment_Behaviour         28899 non-null  object
 12  Credit_Score              28899 non-null  object
dtypes: float64(10), object(3)
memory usage: 3.1+ MB

In [57]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
transformer= ColumnTransformer([('cat', OneHotEncoder(drop='first'),['Occupation','Payment_Behaviour'])],remainder="passthrough")

In [58]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop('Credit_Score',axis=1),df['Credit_Score'],test_size=0.2)

In [59]:
pip install xgboost

Requirement already satisfied: xgboost in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (from xgboost) (1.26.2)
Requirement already satisfied: scipy in /home/codespace/.local/lib/python3.10/site-packages (from xgboost) (1.11.3)
Note: you may need to restart the kernel to use updated packages.

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [61]:
pipeline = Pipeline([
    ('transformer', transformer),
    ('model', RandomForestClassifier())])
pipeline.fit(X_train,y_train)
pred=pipeline.predict(X_test)
accuracy_score(y_test,pred)

0.778719723183391

In [62]:
import joblib
joblib.dump(pipeline, 'pipeline.joblib')
loaded_pipeline = joblib.load('pipeline.joblib')

In [63]:
occupations = df['Occupation'].unique().tolist()

In [64]:
occupations

['Scientist',
 'Teacher',
 'Engineer',
 'Entrepreneur',
 'Developer',
 'Lawyer',
 'Media_Manager',
 'Doctor',
 'Journalist',
 'Manager',
 'Accountant',
 'Musician',
 'Mechanic',
 'Writer',
 'Architect']

In [65]:
behaviour=df['Payment_Behaviour'].unique().tolist()
behaviour

['High_spent_Small_value_payments',
 'Low_spent_Large_value_payments',
 'Low_spent_Medium_value_payments',
 'Low_spent_Small_value_payments',
 'High_spent_Medium_value_payments',
 'High_spent_Large_value_payments']

In [66]:
category =df['Credit_Score'].unique().tolist()
category

['Good', 'Standard', 'Poor']