## Installing Necessary Libraries

In [480]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### Datasets

In [481]:
deliveries= pd.read_csv("IPL_BALLS_2008_2022.csv")
matches=pd.read_csv("IPL_MATCHES_2008_2022.csv")

#### Pre Inspection

In [482]:
matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [483]:
deliveries.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

#### Adding total score column in Matches df

In [484]:
total_score_df= deliveries.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [485]:
team1_score_df=total_score_df[total_score_df['innings']==1]
team2_score_df=total_score_df[total_score_df['innings']==2]

In [486]:
team1_score_df.rename(columns={'total_run': 'team1_runs'}, inplace=True)
team2_score_df.rename(columns={'total_run': 'team2_runs'}, inplace=True)

/tmp/ipykernel_3883/2836941195.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team1_score_df.rename(columns={'total_run': 'team1_runs'}, inplace=True)
/tmp/ipykernel_3883/2836941195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team2_score_df.rename(columns={'total_run': 'team2_runs'}, inplace=True)

In [487]:
matches=matches.merge(team2_score_df[['ID','team2_runs']],on='ID')
matches=matches.merge(team1_score_df[['ID','team1_runs']],on='ID')

In [488]:
matches

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,team2_runs,team1_runs
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,133,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,161,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,193,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,191,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,160,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,...,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,112,110
944,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,166,165
945,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,132,129
946,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,207,240
947,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,82,222

#### Editing Team names to latest ones

In [489]:
matches['Team1'].unique().tolist()

['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Punjab Kings',
 'Mumbai Indians',
 'Kings XI Punjab',
 'Delhi Daredevils',
 'Rising Pune Supergiant',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Pune Warriors',
 'Deccan Chargers',
 'Kochi Tuskers Kerala']

In [490]:
teams=['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Punjab Kings',
 'Mumbai Indians']

In [491]:
matches['Team1']= matches['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
matches['Team2']= matches['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')
matches['Team1']= matches['Team1'].str.replace('Kings XI Punjab','Punjab Kings')
matches['Team2']= matches['Team2'].str.replace('Kings XI Punjab','Punjab Kings')
matches['Team1']= matches['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
matches['Team2']= matches['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
deliveries['BattingTeam'] = deliveries['BattingTeam'].replace({
    'Delhi Daredevils': 'Delhi Capitals',
    'Kings XI Punjab': 'Punjab Kings',
    'Deccan Chargers': 'Sunrisers Hyderabad'
})

In [492]:
matches=matches[matches['Team1'].isin(teams)]
matches=matches[matches['Team2'].isin(teams)]
deliveries=deliveries[deliveries['BattingTeam'].isin(teams)]

#### Handling Missing Values in Matches df

In [493]:
matches.isnull().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            2
WinningTeam          2
WonBy                0
Margin              15
method             819
Player_of_Match      2
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
team2_runs           0
team1_runs           0
dtype: int64

In [494]:
matches['City'] = matches.apply(lambda row: row['Venue'].split()[0] if pd.isnull(row['City']) else row['City'], axis=1)

In [495]:
matches[matches['SuperOver'].isnull()]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,team2_runs,team1_runs
205,1178424,Bengaluru,2019-04-30,2019,49,Royal Challengers Bangalore,Rajasthan Royals,M.Chinnaswamy Stadium,Rajasthan Royals,field,...,NoResults,NaN,NaN,NaN,"['V Kohli', 'AB de Villiers', 'MP Stoinis', 'H...","['SV Samson', 'LS Livingstone', 'AM Rahane', '...",NJ Llong,UV Gandhe,41,62
437,829813,Bangalore,2015-05-17,2015,55,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,NoResults,NaN,NaN,NaN,"['V Kohli', 'CH Gayle', 'AB de Villiers', 'Man...","['Q de Kock', 'SS Iyer', 'JP Duminy', 'Yuvraj ...",HDPK Dharmasena,K Srinivasan,2,187

In [496]:
matches.dropna(subset=['SuperOver'], inplace=True)

In [497]:
matches['Margin'].fillna(0, inplace=True)

In [498]:
matches['method'].fillna('No', inplace=True)

In [499]:
matches['MatchNumber'] = matches['MatchNumber'].apply(lambda x: 'KO' if x in ['Final', 'Qualifier 2', 'Eliminator', 'Qualifier 1', 'Qualifier', 'Elimination Final', '3rd Place Play-Off', 'Semi Final'] else 'NO')

In [500]:
matches.head(5).T

,0,1,2,3,4
ID,1312200,1312199,1312198,1312197,1304116
City,Ahmedabad,Ahmedabad,Kolkata,Kolkata,Mumbai
Date,2022-05-29,2022-05-27,2022-05-25,2022-05-24,2022-05-22
Season,2022,2022,2022,2022,2022
MatchNumber,KO,KO,KO,KO,NO
Team1,Rajasthan Royals,Royal Challengers Bangalore,Royal Challengers Bangalore,Rajasthan Royals,Sunrisers Hyderabad
Team2,Gujarat Titans,Rajasthan Royals,Lucknow Super Giants,Gujarat Titans,Punjab Kings
Venue,"Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Wankhede Stadium, Mumbai"
TossWinner,Rajasthan Royals,Rajasthan Royals,Lucknow Super Giants,Gujarat Titans,Sunrisers Hyderabad
TossDecision,bat,field,field,field,bat
SuperOver,N,N,N,N,N
WinningTeam,Gujarat Titans,Rajasthan Royals,Royal Challengers Bangalore,Gujarat Titans,Punjab Kings
WonBy,Wickets,Wickets,Runs,Wickets,Wickets
Margin,7.0,7.0,14.0,7.0,5.0
method,No,No,No,No,No
Player_of_Match,HH Pandya,JC Buttler,RM Patidar,DA Miller,Harpreet Brar
Team1Players,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ..."
Team2Players,"['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',..."
Umpire1,CB Gaffaney,CB Gaffaney,J Madanagopal,BNJ Oxenford,AK Chaudhary
Umpire2,Nitin Menon,Nitin Menon,MA Gough,VK Sharma,NA Patwardhan
team2_runs,133,161,193,191,160
team1_runs,130,157,207,188,157

In [501]:
deliveries.head(5).T

,0,1,2,3,4
ID,1312200,1312200,1312200,1312200,1312200
innings,1,1,1,1,1
overs,0,0,0,0,0
ballnumber,1,2,3,4,5
batter,YBK Jaiswal,YBK Jaiswal,JC Buttler,YBK Jaiswal,YBK Jaiswal
bowler,Mohammed Shami,Mohammed Shami,Mohammed Shami,Mohammed Shami,Mohammed Shami
non-striker,JC Buttler,JC Buttler,YBK Jaiswal,JC Buttler,JC Buttler
extra_type,NaN,legbyes,NaN,NaN,NaN
batsman_run,0,0,1,0,0
extras_run,0,1,0,0,0
total_run,0,1,1,0,0
non_boundary,0,0,0,0,0
isWicketDelivery,0,0,0,0,0
player_out,NaN,NaN,NaN,NaN,NaN
kind,NaN,NaN,NaN,NaN,NaN
fielders_involved,NaN,NaN,NaN,NaN,NaN
BattingTeam,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals

In [502]:
filtered_matches=matches[['ID','City','WinningTeam','team2_runs','team1_runs','Margin','MatchNumber','TossWinner','TossDecision','SuperOver','WonBy','method','Player_of_Match','Team2']]

In [503]:
deliveries=deliveries[deliveries['innings']==2]
deliveries.shape

(101740, 17)

In [504]:
df= filtered_matches.merge(deliveries,on='ID')
df.head(5).T

,0,1,2,3,4
ID,1312200,1312200,1312200,1312200,1312200
City,Ahmedabad,Ahmedabad,Ahmedabad,Ahmedabad,Ahmedabad
WinningTeam,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans
team2_runs,133,133,133,133,133
team1_runs,130,130,130,130,130
Margin,7.0,7.0,7.0,7.0,7.0
MatchNumber,KO,KO,KO,KO,KO
TossWinner,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals,Rajasthan Royals
TossDecision,bat,bat,bat,bat,bat
SuperOver,N,N,N,N,N
WonBy,Wickets,Wickets,Wickets,Wickets,Wickets
method,No,No,No,No,No
Player_of_Match,HH Pandya,HH Pandya,HH Pandya,HH Pandya,HH Pandya
Team2,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans
innings,2,2,2,2,2
overs,0,0,0,0,0
ballnumber,1,2,3,4,5
batter,WP Saha,WP Saha,WP Saha,Shubman Gill,Shubman Gill
bowler,TA Boult,TA Boult,TA Boult,TA Boult,TA Boult
non-striker,Shubman Gill,Shubman Gill,Shubman Gill,WP Saha,WP Saha
extra_type,NaN,NaN,NaN,NaN,NaN
batsman_run,0,0,1,0,0
extras_run,0,0,0,0,0
total_run,0,0,1,0,0
non_boundary,0,0,0,0,0
isWicketDelivery,0,0,0,0,0
player_out,NaN,NaN,NaN,NaN,NaN
kind,NaN,NaN,NaN,NaN,NaN
fielders_involved,NaN,NaN,NaN,NaN,NaN
BattingTeam,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans

In [505]:
df.fillna('No',inplace=True)

In [506]:
df.dtypes

ID                     int64
City                  object
WinningTeam           object
team2_runs             int64
team1_runs             int64
Margin               float64
MatchNumber           object
TossWinner            object
TossDecision          object
SuperOver             object
WonBy                 object
method                object
Player_of_Match       object
Team2                 object
innings                int64
overs                  int64
ballnumber             int64
batter                object
bowler                object
non-striker           object
extra_type            object
batsman_run            int64
extras_run             int64
total_run              int64
non_boundary           int64
isWicketDelivery       int64
player_out            object
kind                  object
fielders_involved     object
BattingTeam           object
dtype: object

In [507]:
df['current score'] = df.groupby('ID')['total_run'].cumsum()

In [508]:
df['runs_left']=df['team1_runs']-df['current score']

In [509]:
df['balls_left']= 120-(df['overs']*6+df['ballnumber'])

In [510]:
df = df[df['method'] == 'No']
df.drop('method',axis=1,inplace=True)

In [511]:
df['wickets'] = df.groupby('ID')['isWicketDelivery'].cumsum()
df['wickets_left']=10-df['wickets']

In [512]:
df.drop('wickets',axis=1,inplace=True)

In [513]:
df= df[df['balls_left']>0]
df= df[df['runs_left']>0]

In [514]:
df.shape

(93997, 33)

In [515]:
df=df[df['SuperOver']!='Y']
df.shape

(92402, 33)

In [516]:
df['crr']=df['current score']/((120-df['balls_left'])/6)

In [517]:
df['rrr']=df['runs_left']/(df['balls_left']/6)

In [518]:
def result(row):
    return 1 if row['BattingTeam']==row['WinningTeam'] else 0

In [519]:
df['results']= df.apply(result,axis=1)
df.tail().T

,95942,95943,95944,95945,95946
ID,335982,335982,335982,335982,335982
City,Bangalore,Bangalore,Bangalore,Bangalore,Bangalore
WinningTeam,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders
team2_runs,82,82,82,82,82
team1_runs,222,222,222,222,222
Margin,140.0,140.0,140.0,140.0,140.0
MatchNumber,NO,NO,NO,NO,NO
TossWinner,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore
TossDecision,field,field,field,field,field
SuperOver,N,N,N,N,N
WonBy,Runs,Runs,Runs,Runs,Runs
Player_of_Match,BB McCullum,BB McCullum,BB McCullum,BB McCullum,BB McCullum
Team2,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders
innings,2,2,2,2,2
overs,14,14,14,15,15
ballnumber,5,6,7,1,2
batter,P Kumar,SB Joshi,P Kumar,SB Joshi,SB Joshi
bowler,I Sharma,I Sharma,I Sharma,LR Shukla,LR Shukla
non-striker,SB Joshi,P Kumar,SB Joshi,P Kumar,P Kumar
extra_type,legbyes,No,No,wides,No
batsman_run,0,1,0,0,0
extras_run,1,0,0,1,0
total_run,1,1,0,1,0
non_boundary,0,0,0,0,0
isWicketDelivery,0,0,0,0,1
player_out,No,No,No,No,SB Joshi
kind,No,No,No,No,caught
fielders_involved,No,No,No,No,BB McCullum
BattingTeam,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore
current score,80,81,81,82,82
runs_left,142,141,141,140,140
balls_left,31,30,29,29,28
wickets_left,1,1,1,1,0
crr,5.393258,5.4,5.340659,5.406593,5.347826
rrr,27.483871,28.2,29.172414,28.965517,30.0
results,0,0,0,0,0

In [520]:
df = df[['BattingTeam','Team2','City','runs_left','balls_left','wickets_left','crr','rrr','team1_runs','results']]
df

,BattingTeam,Team2,City,runs_left,balls_left,wickets_left,crr,rrr,team1_runs,results
0,Gujarat Titans,Gujarat Titans,Ahmedabad,130,119,10,0.000000,6.554622,130,1
1,Gujarat Titans,Gujarat Titans,Ahmedabad,130,118,10,0.000000,6.610169,130,1
2,Gujarat Titans,Gujarat Titans,Ahmedabad,129,117,10,2.000000,6.615385,130,1
3,Gujarat Titans,Gujarat Titans,Ahmedabad,129,116,10,1.500000,6.672414,130,1
4,Gujarat Titans,Gujarat Titans,Ahmedabad,129,115,10,1.200000,6.730435,130,1
...,...,...,...,...,...,...,...,...,...,...
95942,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,31,1,5.393258,27.483871,222,0
95943,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,30,1,5.400000,28.200000,222,0
95944,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,29,1,5.340659,29.172414,222,0
95945,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,140,29,1,5.406593,28.965517,222,0
95946,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,140,28,0,5.347826,30.000000,222,0

In [521]:
df=df.sample(df.shape[0])

In [522]:
df

,BattingTeam,Team2,City,runs_left,balls_left,wickets_left,crr,rrr,team1_runs,results
44653,Delhi Capitals,Chennai Super Kings,Raipur,66,69,8,6.235294,5.739130,119,0
35382,Royal Challengers Bangalore,Royal Challengers Bangalore,Bengaluru,113,55,7,9.600000,12.327273,217,0
8195,Sunrisers Hyderabad,Sunrisers Hyderabad,Pune,109,19,4,6.000000,34.421053,210,0
73487,Rajasthan Royals,Mumbai Indians,Jaipur,91,116,10,4.500000,4.706897,94,1
20635,Sunrisers Hyderabad,Sunrisers Hyderabad,Sharjah,174,94,9,7.846154,11.106383,208,0
...,...,...,...,...,...,...,...,...,...,...
57741,Rajasthan Royals,Rajasthan Royals,Hyderabad,120,102,10,5.333333,7.058824,136,0
55507,Delhi Capitals,Delhi Capitals,Dubai,112,66,10,8.000000,10.181818,184,0
76301,Royal Challengers Bangalore,Mumbai Indians,Mumbai,153,96,9,7.750000,9.562500,184,0
15833,Sunrisers Hyderabad,Sunrisers Hyderabad,Abu Dhabi,75,35,6,8.047059,12.857143,189,0
87715,Royal Challengers Bangalore,Kolkata Knight Riders,Durban,130,107,10,4.153846,7.289720,139,1

In [ ]:
from sklearn.model_selection import train_test_split